# markdown.render.server=http://192.168.13.68:3001/render
method.return.main[groovy:it.returnType().isExtend("junjie.fun.mywiki.response")]=data
param.ignore=@org.springframework.web.bind.annotation.RequestAttribute

field.required=@javax.validation.constraints.NotBlank
field.required=@javax.validation.constraints.NotNull

postman.prerequest=```


pm.request.headers.add({key: "token",value: "{{token}}"})

var token
var login_url = 'http://localhost:8080/user/login'

const loginRequest = {
    url: login_url,
    method: 'POST',
    header: 'Content-Type: application/json',
    body: {
        mode: 'raw',
        raw: JSON.stringify({"loginName":"test","password":"zhangsan0123"})
    }
}

pm.sendRequest(loginRequest,function(err,res){

    if(err) {
        console.log(err)
    } else {
        var response = JSON.parse(res.text());

        token = response.data.token

        postman.setEnvironmentVariable('token', token)

        console.log(response.data.token);
    }
});

```
json.rule.convert[java.time.LocalDateTime]=java.lang.Long